<div class="jumbotron">
    <h1>Codebreaker Game!</h1>

    <p class="lead" style="text-align: justify">
        Welcome to Codebreaker Rack Application!

        To win the game you should use your brains for
        guessing the number that I thought.You should
        enter sequence of 4 or less digits from 1 to 6.
    </p>

    <p>
        <a class="btn btn-lg btn-success" href="/play-new" role="button">
            Play new game
        </a>
    </p>
</div>