<head>
    <link rel="stylesheet" href="stylesheets/views/play-again.css">
</head>

<div class="panel panel-default">
    <div class="play-again-div">

        <h5 class="text-center">
            Do you want to play again?
        </h5>

        <div class="clearfix">
            <a class="btn btn-sm btn-danger" href="/home">No</a>
            <a class="btn btn-sm btn-primary" href="/play-new">Yes</a>
        </div>

    </div>
</div>