<head>
    <link rel="stylesheet" href="stylesheets/views/set-nickname.css"/>
</head>

<form class="form-code" method="post">

    <h4 class="form-signin-heading text-center">
        I saw that you are here in first. In order to continue
        you should enter your nickname.
    </h4>

    <input type="text" required name="nickname" class="form-control"
           placeholder="Nickname" autocomplete="off" autofocus>

    <button class="btn btn-primary btn-block" type="submit">Save</button>

</form>