.form-code, .form-hint {
    padding: 0 25px;
    margin: 5px auto;
}

.guess-output {
    font-size: 30px;
    padding: 6px;
    height: 55px;
}

.form-control {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    font-size: 60px;
    margin: 20px 0;
    padding: 10px;
    height: auto;
}